In [1]:
print("Hello World!")

Hello World!

In [2]:

!pip install pandas

Requirement already satisfied: pandas in c:\users\vedan\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vedan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vedan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vedan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vedan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\vedan\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\vedan\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
labels = ["vedansh", "tejaswi", "vishal"]

In [5]:
my_list = [88, 99,85]

In [6]:
arr = np.array(my_list)

In [9]:
pd.Series(data= my_list, index = labels)

vedansh    88
tejaswi    99
vishal     85
dtype: int64

In [10]:
pd.Series(labels, my_list)

88    vedansh
99    tejaswi
85     vishal
dtype: object

In [11]:
pd.Series(labels)

0    vedansh
1    tejaswi
2     vishal
dtype: object

In [13]:
pd.Series(my_list)

0    88
1    99
2    85
dtype: int64

In [14]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

In [16]:
rajesh = {
    "Product" : ["sabun", "shampoo", "towel"],
    "Price" : [56, 89, 88],
    "Quantity" : [2, 5, 6]
}

In [17]:
pd.DataFrame(rajesh)

   Product  Price  Quantity
0    sabun     56         2
1  shampoo     89         5
2    towel     88         6

In [18]:
import pandas as pd

data = [10, 20, 30, 40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [20]:
pd.Series(data, index = ["a", "b", "c", "d"])

a    10
b    20
c    30
d    40
dtype: int64

In [21]:
data = {'a': 100, 'b': 200, 'c': 300}
s = pd.Series(data)
print(s)

a    100
b    200
c    300
dtype: int64

In [23]:
print (s[0])

100

C:\Users\vedan\AppData\Local\Temp\ipykernel_19752\3670943538.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (s[0])

In [24]:
print (s[1])

200

C:\Users\vedan\AppData\Local\Temp\ipykernel_19752\501339146.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (s[1])

In [25]:
print (s["b"])

200

In [27]:
s.values         # Array of values

array([100, 200, 300])

In [28]:
s.index          # Index of series

Index(['a', 'b', 'c'], dtype='object')

In [29]:
s.dtype          # Data type

dtype('int64')

In [32]:
s.head(2)        # First 2 elements

a    100
b    200
dtype: int64

In [33]:
s.tail(2)        # Last 2 elements

b    200
c    300
dtype: int64

In [34]:
marks = pd.Series([85, 90, 95], index=['Math', 'Science', 'English'])
print("Marks in Science:", marks['Science'])

Marks in Science: 90

In [37]:
marks = pd.Series([100, 89,90] , index = ["science", "maths", "sst"])

In [38]:
print ("Marks in Science : ", marks["science"])

Marks in Science :  100

Try these:

Create a Series of 5 fruits with prices.

Use custom labels like 'apple', 'banana', etc.

Access the price of 'banana'.

Print the Series' index and values.

In [42]:
prices = pd.Series([56, 78, 89, 90, 56], index = ["Apple", "Banana", "Grapes", "Pears", "Seetafal"])
prices

Apple       56
Banana      78
Grapes      89
Pears       90
Seetafal    56
dtype: int64

In [43]:
print ("The price of Banana : ", prices["Banana"])

The price of Banana :  78

In [44]:
prices.head(2)

Apple     56
Banana    78
dtype: int64

In [45]:
prices.tail(3)

Grapes      89
Pears       90
Seetafal    56
dtype: int64

In [46]:
prices.index

Index(['Apple', 'Banana', 'Grapes', 'Pears', 'Seetafal'], dtype='object')

In [47]:
prices.values

array([56, 78, 89, 90, 56])