In [1]:
import pandas as pd

data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [50000, 60000, 40000, 42000, 55000, 52000]
}

df = pd.DataFrame(data)

# Only use numeric column 'Salary' when applying mean
average_salary = df.groupby('Department')['Salary'].mean()
print(average_salary)

Department
HR       41000.0
IT       53500.0
Sales    55000.0
Name: Salary, dtype: float64

In [2]:
grouped = df.groupby("Department")["Salary"].mean()

In [3]:
grouped

Department
HR       41000.0
IT       53500.0
Sales    55000.0
Name: Salary, dtype: float64

In [4]:
df.groupby('Department')['Employee'].count()

Department
HR       2
IT       2
Sales    2
Name: Employee, dtype: int64

## sum()

## mean()

## min(), max()

## count()

## agg() for multiple functions

In [7]:
df['Salary'].agg(['mean', 'max', 'min'])

mean    49833.333333
max     60000.000000
min     40000.000000
Name: Salary, dtype: float64

Try this:

Create a DataFrame with columns: Team, Player, Goals

Add data for at least 6 players from 3 different teams

Group by Team and:

Find total goals per team

Find average goals per team

Find max goals scored by a player in each team

In [18]:
Football = {
    "Team" : ["RR", "RCB","RCB", "CSK", "RR", "CSK"],
    "Player" : ["MSD", "Virat", "Vedansh", "Rajesh", "Ashmit", "Sukuna"],
    "Goals" : [8, 7, 6, 9, 7, 8]
}

In [19]:
df = pd.DataFrame(Football)

In [20]:
df.groupby("Team")["Goals"].sum()

Team
CSK    17
RCB    13
RR     15
Name: Goals, dtype: int64

In [21]:
df.groupby("Team")["Goals"].mean()

Team
CSK    8.5
RCB    6.5
RR     7.5
Name: Goals, dtype: float64

In [24]:
df.groupby("Team")["Goals"].max()

Team
CSK    9
RCB    7
RR     8
Name: Goals, dtype: int64

In [25]:
df.groupby('Team')['Goals'].agg(['sum', 'mean', 'max', 'min', 'count'])

      sum  mean  max  min  count
Team
CSK    17   8.5    9    8      2
RCB    13   6.5    7    6      2
RR     15   7.5    8    7      2